<style>
    #shopify-section-{{ section.id }} {
        background: url("{{ section.settings.background | image_url: master }}") left / cover no-repeat;
    }

    @media all and (min-width: 1025px) {
        #shopify-section-{{ section.id }} {
            background: url("{{ section.settings.background_desktop | image_url: master }}") left / cover no-repeat;
            height: calc(100vh - 151px)!important;
        }

        .template--collection #shopify-section-{{ section.id }} {
            height: 90vh!important;
        }
    }
</style>

<div class="featured-products page-width">
    {% if section.settings.mobile_title != blank %}
        <div class="featured-products__mobile-title inline-richtext text--stroke"
             data-text="{{ section.settings.mobile_title }}">
            {{ section.settings.mobile_title }}
        </div>
    {% endif %}
    {%- for block in section.blocks -%}
        {% assign product = block.settings.product %}
            {% if section.settings.collection %}
                <style>
                    .product-item.{{ block.id }}:hover .product-item__background {
                        background: {{ product.metafields.details.hover_background }};
                    }

                    .product-item.{{ block.id }} .product-item__background {
                        background: {{ product.metafields.details.background }};
                    }
                </style>
                {% render 'collection-product-item', product: product, classes: block.id %}
            {% else %}
                <style>
                    .product-item.{{ block.id }}:hover .product-item__background {
                        background: {{ product.metafields.details.hover_background }};
                    }
                </style>
                {% render 'product-item', product: product, classes: block.id %}
        {% endif %}
    {% endfor %}
</div>

{% schema %}
{
    "name": "Featured Products",
    "tag": "section",
    "settings": [
        {
            "type": "checkbox",
            "id": "collection",
            "label": "Collection Template",
            "default": false
        },
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background (Mobile)"
        },
        {
            "type": "image_picker",
            "id": "background_desktop",
            "label": "Background (Desktop)"
        },
        {
            "type": "text",
            "id": "mobile_title",
            "label": "Mobile Title"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured Products"
        }
    ]
}
{% endschema %}
