<style>
    #shopify-section-{{ section.id }} {
        background: url("{{ section.settings.background | image_url: master }}") left / cover no-repeat;
        height: 70vh;
    }
    
    @media all and (min-width: 768px) and (max-width: 1024px) {
        #shopify-section-{{ section.id }} {
            height: 60vh;
        }
    }

    @media all and (min-width: 1025px) {
        #shopify-section-{{ section.id }} {
            background: url("{{ section.settings.background_desktop | image_url: master }}") left / cover no-repeat;
            height: calc(100vh - 151px)!important;
        }
    }
</style>

<div class="featured-products page-width">
    {%- for block in section.blocks -%}
        {% assign product = block.settings.product %}
        <style>
            .product-item.{{ block.id }}:hover .product-item__background {
                background: {{ product.metafields.details.hover_background }};
            }
        </style>
        {% render 'product-item', product: product, classes: block.id %}
    {% endfor %}
</div>

{% schema %}
{
    "name": "Featured Products",
    "tag": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background (Mobile)"
        },
        {
            "type": "image_picker",
            "id": "background_desktop",
            "label": "Background (Desktop)"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured Products"
        }
    ]
}
{% endschema %}
