<style>
    #shopify-section-{{ section.id }} {
        {% if section.settings.background != blank %}
            background: url("{{ section.settings.background | image_url: master }}") left / cover no-repeat;
        {% else %}
            background-color: #FFF2ED;
        {% endif %}
    }

    @media all and (min-width: 768px) {
        #shopify-section-{{ section.id }} {
            {% if section.settings.background_desktop != blank %}
                background: url("{{ section.settings.background_desktop | image_url: master }}") left / cover no-repeat;
            {% else %}
                background-color: #FFF2ED;
            {% endif %}
        }
    }
</style>

<div class="newsletter-updated page-width">
    <div class="newsletter-updated__form updated__form">
        {% if section.settings.newsletter_title != blank %}
            <div class="newsletter-form__title text--stroke" data-text="{{ section.settings.newsletter_title }}">
                {{ section.settings.newsletter_title }}
            </div>
        {% endif %}
        {% if section.settings.newsletter_subtitle != blank %}
            <div class="newsletter-form__subtitle text--stroke" data-text="{{ section.settings.newsletter_subtitle }}">
                {{ section.settings.newsletter_subtitle }}
            </div>
        {% endif %}
        {% if section.settings.newsletter_icon != blank %}
            <div class="newsletter-form__icon">
                <img src="{{ section.settings.newsletter_icon | img_url: '500x' }}" alt="Newsletter Icon">
            </div>
        {% endif %}
        {% form 'customer', class: 'newsletter-form' %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div
                    class="newsletter-form__field-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                    {% endif %}
            >
                <div class="newsletter-form__field-wrapper-block">
                    <div class="field newsletter-form__field">
                        <input
                                id="NewsletterForm--{{ section.id }}"
                                type="email"
                                name="contact[email]"
                                class="field__input"
                                value="{{ form.email }}"
                                aria-required="true"
                                autocorrect="off"
                                autocapitalize="off"
                                autocomplete="email"
                                {% if form.errors %}
                                    autofocus
                                    aria-invalid="true"
                                    aria-describedby="Newsletter-error--{{ section.id }}"
                                {% elsif form.posted_successfully? %}
                                    aria-describedby="Newsletter-success--{{ section.id }}"
                                {% endif %}
                                placeholder="{{ 'newsletter.label' | t }}"
                                required
                        >
                        <label class="field__label" for="NewsletterForm--{{ section.id }}">
                            Enter email address
                        </label>
                    </div>
                    <button
                            type="submit"
                            class="newsletter-form__button field__button"
                            name="commit"
                            id="Subscribe"
                            aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                        SIGN UP
                        <span class="svg-wrapper">
                      {{- 'icon-arrow.svg' | inline_asset_content -}}
                    </span>
                    </button>
                </div>
                {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                    <span class="svg-wrapper">
                      {{- 'icon-error.svg' | inline_asset_content -}}
                    </span>
                        {{- form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email -}}
                    </small>
                {%- endif -%}
            </div>
            {%- if form.posted_successfully? -%}
                <h3
                        class="newsletter-form__message newsletter-form__message--success form__message"
                        id="Newsletter-success--{{ section.id }}"
                        tabindex="-1"
                        autofocus
                >
                  <span class="svg-wrapper">
                    {{- 'icon-success.svg' | inline_asset_content -}}
                  </span>
                    {{- 'newsletter.success' | t }}
                </h3>
            {%- endif -%}
        {% endform %}
    </div>
    <div class="contact-updated__form updated__form">
        {% if section.settings.contact_title != blank %}
            <div class="contact-form__title text--stroke" data-text="{{ section.settings.contact_title | strip_html }}">
                {{ section.settings.contact_title | strip_html }}
            </div>
        {% endif %}
        {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
            {%- if form.posted_successfully? -%}
                <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
                    {{- 'icon-success.svg' | inline_asset_content -}}
                    {{ 'templates.contact.form.post_success' | t }}
                </h2>
            {%- elsif form.errors -%}
                <div class="form__message">
                    <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                        {{- 'icon-error.svg' | inline_asset_content -}}
                        {{ 'templates.contact.form.error_heading' | t }}
                    </h2>
                </div>
                <ul class="form-status-list caption-large" role="list">
                    <li>
                        <a href="#ContactForm-email" class="link">
                            {{ form.errors.translated_fields.email | capitalize }}
                            {{ form.errors.messages.email }}
                        </a>
                    </li>
                </ul>
            {%- endif -%}
            <div class="contact__fields">
                <div class="field">
                    <input
                            class="field__input"
                            autocomplete="name"
                            type="text"
                            id="ContactForm-name"
                            name="contact[{{ 'templates.contact.form.name' | t }}]"
                            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                            placeholder="{{ 'templates.contact.form.name' | t }}"
                    >
                    <label class="field__label" for="ContactForm-name">Your Name</label>
                </div>
                <div class="field field--with-error">
                    <input
                            autocomplete="email"
                            type="email"
                            id="ContactForm-email"
                            class="field__input"
                            name="contact[email]"
                            spellcheck="false"
                            autocapitalize="off"
                            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                            aria-required="true"
                            {% if form.errors contains 'email' %}
                                aria-invalid="true"
                                aria-describedby="ContactForm-email-error"
                            {% endif %}
                            placeholder="{{ 'templates.contact.form.email' | t }}"
                    >
                    <label class="field__label" for="ContactForm-email">
                        Your Email
                        <span aria-hidden="true">*</span></label
                    >
                    {%- if form.errors contains 'email' -%}
                        <small class="contact__field-error" id="ContactForm-email-error">
                            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                            <span class="form__message">
                <span class="svg-wrapper">
                  {{- 'icon-error.svg' | inline_asset_content -}}
                </span>
                {{- form.errors.translated_fields.email | capitalize }}
                                {{ form.errors.messages.email -}}
              </span>
                        </small>
                    {%- endif -%}
                </div>
            </div>
            <div class="field textarea-field">
        <textarea
                rows="3"
                id="ContactForm-body"
                class="text-area field__input"
                name="contact[{{ 'templates.contact.form.comment' | t }}]"
                placeholder="{{ 'templates.contact.form.comment' | t }}"
        >
          {{- form.body -}}
        </textarea>
                <label class="form__label field__label" for="ContactForm-body">
                    Your Message
                </label>
            </div>
            <div class="contact__button" data-text="Submit">
                <button type="submit" class="button button--stroke" data-text="Submit">
                    Submit
                </button>
            </div>
        {%- endform -%}
    </div>
</div>

{% schema %}
{
    "name": "Newsletter",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Backgrounds"
        },
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background (Mobile)"
        },
        {
            "type": "image_picker",
            "id": "background_desktop",
            "label": "Background (Desktop)"
        },
        {
            "type": "header",
            "content": "Newsletter Section Content"
        },
        {
            "type": "text",
            "id": "newsletter_title",
            "label": "Newsletter Title"
        },
        {
            "type": "text",
            "id": "newsletter_subtitle",
            "label": "Newsletter Subtitle"
        },
        {
            "type": "image_picker",
            "id": "newsletter_icon",
            "label": "Newsletter Icon"
        },
        {
            "type": "header",
            "content": "Contact Section Content"
        },
        {
            "type": "richtext",
            "id": "contact_title",
            "label": "Contact Title"
        }
    ],
    "blocks": [
    ],
    "presets": [
        {
            "name": "Newsletter Updated"
        }
    ]
}
{% endschema %}
